*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
build_output.txt
fix_all_styles.py
fix_all_styles_3.py
fix_styles.py
fix_styles_2.py
tflite_strings.txt
out.zip
.vscode/
.kotlin/
*.bak
